// We do this as the way most of the next documentation is set for the API routes
// is export default () => {}
{
  "rules": {
    "import/no-anonymous-default-export": [
      2,
      {
        "allowArrowFunction": true
      }
    ]
  }
}
