version: "3.3"

services:
  sqs:
    image: "localstack/localstack:3.0.0"
    environment:
      - SERVICES=sqs
      - ALLOW_NONSTANDARD_REGIONS=1
    ports:
      - "4566:4566"
  s3:
    image: "zenko/cloudserver:8.1.8"
    environment:
      - "S3BACKEND=mem"
    ports:
      - "33333:8000"
  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:8.11.4"
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - "http.host=0.0.0.0"
      - "transport.host=0.0.0.0"
      - "cluster.name=wellcome"
      - "discovery.type=single-node"
      - "xpack.security.enabled=false"
