{
  "bool": {
    "should": [
      {
        "sparse_vector": {
          "field": "query.titleSemantic",
          "query": "{{query}}",
          "inference_id": "{{modelId}}"
        }
      },
      {
        "sparse_vector": {
          "field": "query.descriptionSemantic",
          "query": "{{query}}",
          "inference_id": "{{modelId}}"
        }
      }
    ]
  }
}
